@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?w9m4ym");
  src: url("../fonts/icomoon.eot?w9m4ym#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?w9m4ym") format("truetype"), url("../fonts/icomoon.woff?w9m4ym") format("woff"), url("../fonts/icomoon.svg?w9m4ym#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1.75em;
  vertical-align: middle;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-camera:before {
  content: "\e900"; }

.icon-f:before {
  content: "\e901"; }

.icon-flash:before {
  content: "\e902"; }

.icon-focal:before {
  content: "\e903"; }

.icon-iso:before {
  content: "\e904"; }

.icon-shutter:before {
  content: "\e905"; }

[class^="icon-"], [class*=" icon-"] {
  margin-right: .4em; }

body {
  background-color: #f0f0f0; }
  body .section {
    padding: 0;
    padding-right: calc( (100% - 1200px)/2);
    padding-left: calc( (100% - 1200px)/2);
    background-color: inherit; }

.header .header-nav {
  height: 100px;
  background-color: #252525;
  color: #f0f0f0; }
  .header .header-nav h1 {
    font-size: 32px;
    line-height: 100px; }

.header .filtering {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.9); }
  .header .filtering h2 {
    font-size: 26px;
    margin-bottom: 20px; }

.main .photo {
  padding: 0;
  width: 48%;
  margin: 2% auto;
  background-color: #ffffff;
  transition: box-shadow .2s; }
  .main .photo:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1); }
  @media only screen and (min-width: 320px) and (max-width: 769px) {
    .main .photo {
      width: 96%; } }

.main .image.is-3by2 {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ffffff; }
  .main .image.is-3by2 img {
    width: 100%;
    height: auto !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.main .exif {
  padding: 4%; }

.footer {
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #f0f0f0;
  box-shadow: 0 -1px 1px #dddddd; }
