img {
  max-width: 100%; }

body .section {
  padding: 0 calc( (100% - 1200px)/2); }

.header .header-nav {
  background-color: #252525;
  color: #fafafa; }
  .header .header-nav h1 {
    margin-bottom: 0; }

.header .filtering {
  background-color: #fafafa;
  color: #252525;
  border-bottom: 1px solid #959595; }

.footer {
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #fafafa; }
