@import 'settings';
@import 'icon';

img {
  max-width: 100%;
}

[class^="icon-"], [class*=" icon-"] {
  margin-right: .5em;
}

body {
  $side-padding: calc( (100% - 1200px)/2 );
  .section {
    padding: 0 $side-padding;
  }
}

.header {
  .header-nav {
    background-color: $black;
    color: $lightgray;
    h1 {
      // margin-bottom: 0;
    }
  }
  .filtering {
    background-color: $lightgray;
    color: $black;
    box-shadow: 0 1px 1px #dddddd;
  }
}

.footer {
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: $lightgray;
  box-shadow: 0 -1px 1px #dddddd;
}
