@import 'settings';
@import 'icon';

[class^="icon-"], [class*=" icon-"] {
  margin-right: .4em;
}

body {
  $side-padding: calc( (100% - 1200px)/2 );
  .section {
    padding: 0 $side-padding;
  }
}

.header {
  .header-nav {
    background-color: $black;
    color: $lightgray;
  }
}

.main {
  .image{
    &.is-3by2 {
      width: 100%;
      position: relative;
      overflow: hidden;
      background-color: $lightgray;
      img {
        width: 100%;
        height: auto !important;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.footer {
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: $lightgray;
  box-shadow: 0 -1px 1px #dddddd;
}
